.my-matches-container {
  background-color: rgb(158, 255, 179);
  height: 100%;
  

  &__cards-container {
    background-color: rgb(158, 255, 179);
    margin-top: 10rem;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  height: 100vh;

  }
}
// .my-matches-container {
//   background-color: rgb(252, 123, 119);
//   height: 100vh;
// }
// .cards-container {
//   margin-top: 10rem;
//   display: flex;
//   align-items: center;
//   // justify-content: center;
//   flex-direction: column;
//   height: 100%;
//   background-color: rgb(252, 123, 119);
// }