.my-matches-container {
  height: 100vh;
  background-color: rgb(158, 255, 179);
  // height: 100%;

  &__cards-container {
    background-color: rgb(158, 255, 179);
    margin-top: 5rem;
    display: flex;
    align-items: center;

    flex-direction: column;
    height: 100%;
  }
}
