@use "../../styles/partials/global" ;

.list-container {
  height: 100vh;
  background-color: rgb(252, 253, 154);
}


.submit-form-container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 253, 154);
}

.submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  
  padding: 2.6rem;
  background-color: rgb(250, 254, 255);
  box-shadow: rgba(160, 114, 54, 0.2) 0px 2px 8px 0px;
  border-radius: 25px;

  &__image-container {
    height: 30%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }


  &__button {
    width: 30%;
    color:white;
    padding: 1.2rem 2.6rem;
    background-color: rgb(255, 189, 66);
    border-radius: 25px;
    border: 1px solid rgb(255, 189, 66);
    font-family: "QuickSand";
    font-size: 1.6rem;
    border: 2px solid transparent;
  
    &:hover {
      background-color: rgb(243, 114, 55);
      box-shadow: rgba(243, 114, 55, 0.6) 3px 3px, rgba(243, 114, 55, 0.3) 6px 6px, rgba(243, 114, 55, 0.2) 9px 9px;
      border: 2px solid rgb(189, 50, 7);
      cursor: pointer;
    }
  }

}

.submit-form__item-description, .submit-form__item-title {
  width: 100%;
  background-color: rgb(218, 239, 245);
  border-radius: 25px;
  border: 2px solid rgb(218, 239, 245);
  padding: 1.2rem 2.6rem;
  font-family: "QuickSand";
  font-size: 1.6rem;
  margin-bottom: 2.6rem;
  &:focus {
    border: 2px solid rgb(60, 135, 165);
    outline: none;
  }
}

.submit-form__item-description {
  resize: none;
  height: 13rem;
}

.why-text {
  color: rgb(60, 135, 165);
  line-height: 2.2rem;
  text-align: center;
  margin: -1.2rem 0 3.6rem 0;
  width:90%;
}

.image-container {
  padding: 0 1.2rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin: 2.4rem 0 2.4rem 0;
}

.image-upload-preview {
  margin: 2.4rem 0 2.4rem 0 ;
  width: 30%;
  border-radius: 3px;
  border: 2px solid rgb(60, 135, 165);
  box-shadow: rgba(60, 135, 165, 0.4) 4px 4px;
}
.image-upload-input {
  display: none;
}

.image-upload-label {
height: 4rem;
margin-bottom: 3.4rem;
width: 30%;
color:rgb(60, 135, 165);
padding-top: 0.8rem;
text-align: center;
background-color: white;
border-radius: 25px;
border: 2px solid rgb(60, 135, 165);
font-family: "QuickSand";
font-size: 1.6rem;

&:hover {
  box-shadow: rgba(60, 135, 165, 0.6) 3px 3px, rgba(60, 135, 165, 0.3) 6px 6px, rgba(60, 135, 165, 0.2) 9px 9px;
  cursor: pointer;
}
}
